@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Lato);
/* @font-face {
  font-family: proxima-nova;
  src: url(../fonts/proximanova-regular-webfont.ttf);
}
@font-face {
  font-family: proxima-nova-semibold;
  src: url(../fonts/proximanova-semibold-webfont.ttf);
} */
.showcase {
  background: url("../images/slider.jpg") no-repeat fixed 0 0 !important;
  background-size: contain !important; }

/* MAIN COLOR */
/* \$maincolor: #fdcd07; */
.blue {
  color: #499ccb; }

.bolder {
  font-family: proxima-nova-semibold; }

button {
  background: none;
  border: 0;
  padding: 0;
  outline: none; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 54px;
  font-weight: 100; }

h3 {
  font-size: 45px;
  font-weight: 100; }

h4 {
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 2.5px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #49a1d2; }

p {
  font-size: 18px; }

.hidden {
  display: none !important; }

.button {
  font-size: 0.9em;
  padding: 10px 35px;
  text-transform: uppercase;
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
  margin: 10px 4.5%; }

.button-cont {
  margin-top: 65px;
  text-align: center; }

.upper {
  text-transform: uppercase; }

.align-left {
  text-align: left; }

strong {
  font-weight: 600; }

.padding {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.cf:after {
  content: " ";
  display: block;
  clear: both; }

* {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%; }

body {
  font-family: "proxima-nova"; }

.mid {
  width: 960px;
  max-width: 100%;
  margin: 0 auto; }

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -267px; }

.vert-align {
  display: table-cell; }

.left {
  float: left; }

.right {
  float: right; }

.halfsies {
  width: 49%;
  max-width: 100%; }

.t-center {
  text-align: center; }

hr {
  border: none; }

.divider {
  height: 50px; }

.blueback {
  background-color: #499ccb; }

.greenback {
  background-color: #3cb878; }

.mainback {
  background-color: #015b7d; }

.landing h1 {
  font-size: 3em;
  margin: 20px 0 40px; }

.land-block {
  padding: 90px 0; }
  .land-block p {
    margin: 15px 0; }
  .land-block img {
    max-width: 100%; }

.gray {
  background: #dedede;
  color: #252525; }

.dark-gray {
  background: #363636;
  color: #fff; }

.showcase {
  position: relative; }
  .showcase .title-block {
    padding-top: 15%;
    padding-bottom: 15%; }
    @media (max-width: 500px) {
      .showcase .title-block {
        padding-top: 25%;
        padding-bottom: 25%; } }
  .showcase .title {
    display: table;
    margin: auto;
    border: 5px solid #363636;
    padding: 10px 30px;
    color: #fff;
    font-size: 4em;
    text-transform: uppercase; }

.landing {
  overflow: hidden; }
  .landing h2, .landing button {
    text-transform: uppercase; }
  .landing h2 {
    letter-spacing: -2px;
    font-weight: 400; }

.land-block h1, .land-block h3 {
  text-transform: uppercase; }
.land-block .bubble p {
  font-size: 18px;
  margin: 0; }
.land-block .center {
  text-align: center; }

.button {
  font-size: 1.2em;
  padding: 10px 35px;
  text-transform: uppercase;
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
  margin: 10px 4.5%; }

.white {
  color: #fff; }

.border.white {
  border-color: #fff; }

.maincolor {
  color: #015b7d;
  border-color: #015b7d; }

.bubble {
  height: 400px;
  background-color: #fff;
  width: 200px;
  max-width: 100%;
  margin: 1%;
  margin-bottom: 60px;
  padding: 1%;
  position: relative; }
  .bubble img {
    margin-top: 25px; }

.bubble-img {
  margin-bottom: 35px; }

.bubble-con p {
  font-size: 18px; }
.bubble-con p.bubble-copy {
  font-size: 14px;
  text-align: left; }

.google-maps {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden; }

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

.border {
  margin: 0 auto 5%;
  border: 1px solid;
  width: 185px; }

.smallborder {
  margin-top: 10px; }

.gettinghere .getting img {
  width: 100%; }

@media (max-width: 500px) {
  .halfsies {
    width: 100%; } }

.media-video .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }
  .media-video .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
.media-video .video-box {
  margin-bottom: 30px; }
