<head>
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
<script src="//use.typekit.net/kwx3sng.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<title>Financial Peace University</title>
</head>
<body>
  <section class="wrap">
    <header class="header">

      <section class="showcase dark-gray">
        <div class="title-block">
          <!-- <h1 class="title"></h1> -->
        </div>
      </section>

  <section class="divider">
    <hr class="divider mainback" />
  </section>

  <section class="landing">

    <div class="land-block">
      <div class="padding mid cf">
        <h1 class="t-center upper"><strong>What is</strong> Financial Peace University?</h1>
        <hr class="border maincolor" />
        <div class="engage-block">
          <p>We all need a plan for our money. Financial Peace University(FPU) is that plan! This isn't some stuffy economics class. FPU is the fun and simple way to learn how to handle money God's way.</p>

        <p>Through video teaching, class discussions and interactive small  group activities, FPU presents biblical, practical steps to get you from where you are to where you've dreamed you could be. In only nine lessons, you will learn how to get rid of debt, take control of your money, spend and save wisely, give generously, and much more! On average, families save $2,300 and pay off $5,700 in debt in the first 90 days!</p>
        <p>We will be meeting every Monday in the Charis Sanctuary from 7-9pm starting February 6, 2017 through April 3, 2017, register below.</p>
        <p>The cost for FPU classes is $93.00, which includes the class resources and a lifetime membership to Financial Peace University allowing you to take the classes as many times as you like, at any location for free. In addition, the books and DVDs are essential to learning, giving you hands-on, and practical skills in saving money.</p>
      </div>
      <div class="button-cont">
        <input type="submit" name="registerNow" onclick="location.href='https://www.daveramsey.com/fpu/classes/1035106';" value="Register Now" class="button upper maincolor" />
      </div>
      </div>
    </div>

    <div class="land-block mainback">
      <div class="padding">
      <h1 class="t-center upper white"><strong>What you</strong> will learn</h1>
        <hr class="border" />
        <div class="bubble-comp t-center cf mid">

          <div class="bubble left">
            <div class="bubble-img">
              <img src="images/bubble_1.jpg" />
            </div>
            <div class="bubble-con">
              <p class="upper">Lesson 1</p>
              <p class="upper"><strong>Super Saving</strong></p>
              <hr class="border smallborder maincolor" />
              <p>Common Sense for Your Dollars and Cents<p>
              <br>
              <p class="bubble-copy">Dave explains the 7 baby steps to guide you through Financial Peace University. You will also learn the 3 key reasons why you should save money and why you must start now!</p>
            </div>
          </div>

          <div class="bubble left">
            <div class="bubble-img">
              <img src="images/bubble_2.jpg" />
            </div>
            <div class="bubble-con">
              <p class="upper">Lesson 2</p>
              <p class="upper"><strong>Relating With Money</strong></p>
              <hr class="border smallborder maincolor" />
              <p>Nerds and Free Spirits Unite!<p>
              <br>
              <p class="bubble-copy">Learn why it's important for spouses to communicate and work together toward success. And as parents, couples will be able to teach their kids about money. Singles will also learn the importance of accountability.</p>
            </div>
          </div>

          <div class="bubble left">
            <div class="bubble-img">
              <img src="images/bubble_3.jpg" />
            </div>
            <div class="bubble-con">
              <p class="upper">Lesson 3</p>
              <p class="upper"><strong>Cash Flow Planning</strong></p>
              <hr class="border smallborder maincolor" />
              <p>The Nuts and Bolts of Budgeting<p>
              <br>
              <p class="bubble-copy">Unlock the secret of developing a monthly spending plan that really works. Learning how to take control of your money starts with a budget!</p>
            </div>
          </div>

          <div class="bubble left">
            <div class="bubble-img">
              <img src="images/bubble_4.jpg" />
            </div>
            <div class="bubble-con">
              <p class="upper">Lesson 4</p>
              <p class="upper"><strong>Dumping Debt</strong></p>
              <hr class="border smallborder maincolor" />
              <p>Breaking the Chains of Debt<p>
              <br>
              <p class="bubble-copy">Debunk some common myths about debt. Dave reveals the truth about credit lies and lays out a plan to walk out of debt with confidence.</p>
            </div>
          </div>

          <div class="cf"></div>

          <div class="bubble left">
            <div class="bubble-img">
              <img src="images/bubble_5.jpg" />
            </div>
            <div class="bubble-con">
              <p class="upper">Lesson 5</p>
              <p class="upper"><strong>Buyer Beware</strong></p>
              <hr class="border smallborder maincolor" />
              <p>The Power of Marketing on Your Buying Decisions<p>
              <br>
              <p class="bubble-copy">Dave draws on decades of experience to disclose the power and influence that marketing has on your everyday buying decisions.</p>
            </div>
          </div>

          <div class="bubble left">
            <div class="bubble-img">
              <img src="images/bubble_6.jpg" />
            </div>
            <div class="bubble-con">
              <p class="upper">Lesson 6</p>
              <p class="upper"><strong>The Role of Insurance</strong></p>
              <hr class="border smallborder maincolor" />
              <p>Protecting Your Health, Family and Finances<p>
              <br>
              <p class="bubble-copy">In this lesson, Dave walks you through the world of insurance, carefully explaining what you need and what you need to avoid.</p>
            </div>
          </div>

          <div class="bubble left">
            <div class="bubble-img">
              <img src="images/bubble_7.jpg" />
            </div>
            <div class="bubble-con">
              <p class="upper">Lesson 7</p>
              <p class="upper"><strong>Retirement and College Planning</strong></p>
              <hr class="border smallborder maincolor" />
              <p>Mastering the Alphabet Soup of Investing<p>
              <br>
              <p class="bubble-copy">Dave guides you through the maze of retirement options and helps you figure out your best retirement plan. You will also learn how to plan for college so your kids can graduate debt free!</p>
            </div>
          </div>

          <div class="bubble left">
            <div class="bubble-img">
              <img src="images/bubble_8.jpg" />
            </div>
            <div class="bubble-con">
              <p class="upper">Lesson 8</p>
              <p class="upper"><strong>Real Estate and Mortgages</strong></p>
              <hr class="border smallborder maincolor" />
              <p>Keeping the American Dream From Becoming a Nightmare<p>
              <br>
              <p class="bubble-copy">With more than 20 years of real estate experience, Dave teaches you the ins and outs of mortgages to be successful when buying or selling your home.</p>
            </div>
          </div>

          <div class="cf"></div>

          <div class="bubble left">
            <div class="bubble-img">
              <img src="images/bubble_9.jpg" />
            </div>
            <div class="bubble-con">
              <p class="upper">Lesson 9</p>
              <p class="upper"><strong>The Great Misunderstanding</strong></p>
              <hr class="border smallborder maincolor" />
              <p>Unleashing the Power of Generous Giving<p>
              <br>
              <p class="bubble-copy">Learn how generous giving can completely revolutionize your attitude and improve your finances, business and relationships.</p>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="land-block gray">
      <div class="padding mid cf">
        <h1 class="t-center upper"><strong>Register</strong></h1>
        <hr class="border maincolor" />
        <p class="engage-block">To sign up for a lifetime membership that will register you for this course and give you the option of taking the course again at any time please visit the website below.</p>
        <div class="button-cont">
        <a href="https://www.daveramsey.com/fpu/classes/1035106"><input type="button" value="Register" class="button upper maincolor" /></a>
      </div>
      </div>
    </div>

    <div class="land-block dark-gray">
      <div class="padding mid cf">
        <p class="copyright">&copy; Copyright Calvary Chapel Costa Mesa <?php echo date('Y'); ?>. Contact <a href="http://cts.cccm.com">CTS</a><a href="/privacy"> Privacy Policy</a></p>
      </div>
    </div>

  </section>
</section>
</body>
